<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name=description content="{{ site.description }}">
  <meta name=author content="{{ site.name }}">

  <title>
    {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }}
    {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | base_url }}" />
  {% endif %}

  <!-- Style sheet -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="{{ '/css/styles.css' | base_url }} " />

  <!-- Syntax Highlight, highlight.js - 10.7.1 -->
  <link rel="stylesheet"
    href="{{ '/assets/css/dracula.css' | base_url }}">
  <script src="{{ '/assets/js/highlight.pack.js' | base_url }}"></script>
  <script>hljs.highlightAll();</script>

  <!-- icons  -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="{{ '/assets/icons/apple-touch-icon-precomposed.png' | base_url }}"
  />
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | base_url }}" />

  {% if page.use_math %}
    {% include mathjax_support.html %}
  {% endif %}
  <!-- {% include mathjax_support.html %} -->

  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="{{ '/atom.xml' | base_url }}"
  />
</head>
